.icon {
  background-color: hsl(216, 12%, 54%, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  padding: 12px;
  margin-bottom: 15px;
}

.header {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.38px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #7c8798;
}

@media (min-width: 768px) {
  .icon {
    background-color: hsl(216, 12%, 54%, 0.3);
    width: 48px;
    height: 48px;
    border-radius: 50px;
    padding: 14px;
    margin-bottom: 20px;
  }
  .header {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #7c8798;
  }
}
